<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <style>
        footer {
    background-color: whitesmoke;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}





h4 {
    color: #110b0b;
}

p {
    color: #080505;
}

a {
    color: #007bff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
    </style>
</head>
<body>
    <footer>
    <div class="footer-container">
        <div class="contact-info">
            <h4>Contact Information</h4>
            <p>Email: info@yourhandmadebrand.com</p>
            <p>Phone: 98 3452 2345</p>
            <p>Follow us on: <a href="#">Instagram</a> | <a href="#">Facebook</a> | <a href="#">Pinterest</a></p>
        </div>

        </footer>
    </body>
</html>