<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div class="all">
   <div> <%-include('../partials/header.ejs')%></div>
   <div class="pre">
    <h2>With Every stitch and stroke,a story unfold, </h2>
    <h2> HandCrafted with love,bringing warmth to</h2>
    <h2> warmth to every home</h2>
</div>
<!-- </div><%-include('../partials/footer.ejs')%></div> -->

</div>
</body>
</html>